<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <bean id="pointABean" class="lifecyclecallback.Point" name="pointA-name">
        <property name="x" value="0"/>
        <property name="y" value="0"/>
    </bean>

    <bean id="circleImplementsCallbackInterfaces" class="lifecyclecallback.CircleImplementsCallbackInterfaces">
        <property name="center" ref="pointABean"/>
    </bean>

    <bean id="circleAnnotateCallback" class="lifecyclecallback.CircleAnnotateCallback">
        <property name="center" ref="pointABean"/>
    </bean>

    <bean id="circleCallbackAnnotationAndImplementationBoth" class="lifecyclecallback.CircleCallbackAnnotationAndImplementationBoth">
        <property name="center" ref="pointABean"/>
    </bean>

    <context:annotation-config/>

</beans>