<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="pointA" class="autowirename.Point">
        <property name="x" value="0"/>
        <property name="y" value="0"/>
    </bean>

    <bean id="pointB" class="autowirename.Point">
        <property name="x" value="0"/>
        <property name="y" value="10"/>
    </bean>

    <!--<bean id="pointCBean" class="autowirename.Point">-->
    <bean id="pointC" class="autowirename.Point">
        <property name="x" value="-10"/>
        <property name="y" value="0"/>
    </bean>

    <bean id="triangle" class="autowirename.Triangle" autowire="byName"/>

    <bean id="circle" class="autowirename.Circle" >
        <property name="size" value="10"/>
    </bean>

</beans>